$primary: #AFDE9B;
$secondary: #87AB78;

* {
  font-family: 'Montserrat';
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noticia {
  width: 100%;
  height: 300px;
  resize: none;
  border-radius: 3px;
  outline: none;
  padding: 15px 10px;
  background-color: #fff;
}


ion-content, ion-toolbar {
  --background: #AFDE9B;
  color: #fff;
}

.disabled {
  background: #eee !important
}

.disabled > * {
  color: #ccc !important;
}


.botao {
  color: #87AB78;
  font-size: 28px;
  background: #fff;
  border-radius: 3px;
  outline: none;
  padding: 10px 0;
}

.container-botao {
  padding: 10px 15px;
  background: $primary;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-between;
}


.enviar {
  width: 100%;
  margin-left: 10px;
}

.limpar, .limpar * {
  min-width: 50px;
  transition: .5s;
}

.indicator {
  min-width: 14px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  transition: .7s;
  margin: 0 6px;
}

.message {
  padding: 0 10px;
}

.hidden {
  display: flex;  
  align-items: center;
  justify-content: center;
  max-height: 0;
  background: #fff;
  padding: 0 5px;
  overflow: hidden;
  color: #fff;
  transition: color .5s, padding .5s;
  border-radius: 5px;
}

.results {
  max-height: 100%;
  padding: 12px 5px;
  color: #000;
  margin-top: 15px;
}

.falsa {
  background: #db4f18;
}

.verdadeira {
  background: #81ff20;
}